  <p>Configuration options:</p>
  <ul>
    <li><code class="ui label">:if</code> Validates <strong>only</strong> when the function passed returns true. <code class="ui label">function(key,value, _this){...}</code></li>
    <li>
      <p>
        <code class="ui label">:message</code> - A custom error message (default is: “{{defaultMessage}}”). it can be a String (with a <code class="ui label">{value}</code> in it for value interpolation) or a <a href="https://github.com/esbanarango/ember-model-validator#using-function-to-generate-custom-message">function</a> that returns a string.
      </p>
    </li>
    {{#if allowBlank}}
      <li>
        <p>
          <code class="ui label">:allowBlank</code> - If set to true and the value is blank as defined by Ember.isBlank, all other validations for the field are skipped.
        </p>
      </li>
    {{/if}}
  </ul>