{{! Actual Code }}
{{yield}}

<div class="ui top attached label">
  Example
  <CopyButton @clipboardText="" @success={{action "copied"}} @error={{action "copyError"}}>
    <UiPopup @tagName="i" @class="copy link icon" @content={{copyMessage}} @variation="inverted" />
  </CopyButton>
</div>
