.navbar.navbar-default
  background-color: white
  margin: 0

  .navbar-brand > img
    display: inline-block
    height: 32px
    margin-top: -15px

  .navbar-brand > span
    font-size: 1.5rem
    text-transform: uppercase
    vertical-align: super

  .navbar-nav > li > a
    font-size: 1.6rem
    font-weight: 200

    .fa-github
      font-size: 24px

  .navbar-nav > li > a:focus,
  .navbar-nav > li > a:hover
    color: $accent-color

  .navbar-nav > .active > a,
  .navbar-nav > .active > a:focus,
  .navbar-nav > .active > a:hover
    background-color: transparent
    color: $accent-color

.link
  cursor: pointer