<div class="item">
  <div class="header">Getting Started</div>
  <div class="menu">
    {{#link-to 'index' class='item'}}Introduction{{/link-to}}
    {{#link-to 'usage' class='item'}}Usage{{/link-to}}
    <a href="https://github.com/esbanarango/ember-model-validator" class="item" target="_blank">
      {{fa-icon 'github'}} Repo
    </a>
  </div>
</div>
{{#link-to 'validators.presence' class='item'}}Presence{{/link-to}}
{{#link-to 'validators.acceptance' class='item'}}Acceptance{{/link-to}}
{{#link-to 'validators.absence' class='item'}}Absence{{/link-to}}
{{#link-to 'validators.format' class='item'}}Format{{/link-to}}
{{#link-to 'validators.length' class='item'}}Length{{/link-to}}
{{#link-to 'validators.email' class='item'}}Email{{/link-to}}
{{#link-to 'validators.zipcode' class='item'}}ZIP Code{{/link-to}}
{{#link-to 'validators.hexcolor' class='item'}}Hex Color{{/link-to}}