<div class="full height">
  <div class="toc">
    <div class="ui vertical inverted sidebar menu left overlay visible">
      <div class="item">
        {{#link-to 'index' class='ui logo icon image'}}
          <img src="{{rootURL}}/ember-logo.png" alt="Ember Logo">
        {{/link-to}}
        <a href="/"><b>MODEL VALIDATOR</b></a>
      </div>
      {{partial "menu"}}
    </div>
  </div>

  <div class="article">
    {{outlet}}
  </div>
</div>