<div class="full height">
  <div class="toc">
    <div class="ui vertical inverted sidebar menu left overlay visible">
      <div class="item">
        <LinkTo @route="index" class="ui logo icon image">
          <img src="ember-logo.png" alt="Ember Logo">
        </LinkTo>
        <a href="/"><b>MODEL VALIDATOR</b></a>
      </div>
      <div class="item">
        <div class="header">Getting Started</div>
        <div class="menu">
          <LinkTo @route="index" class="item">Introduction</LinkTo>
          <LinkTo @route="usage" class="item">Usage</LinkTo>
          <LinkTo @route="i18n" class="item">Internationalization (i18n)</LinkTo>
          <a href="https://github.com/esbanarango/ember-model-validator" class="item" target="_blank" rel="noopener">
            {{fa-icon "github"}} Repo
          </a>
        </div>
      </div>
      <LinkTo @route="validators.presence" class="item">Presence</LinkTo>
      <LinkTo @route="validators.acceptance" class="item">Acceptance</LinkTo>
      <LinkTo @route="validators.absence" class="item">Absence</LinkTo>
      <LinkTo @route="validators.format" class="item">Format</LinkTo>
      <LinkTo @route="validators.length" class="item">Length</LinkTo>
      <LinkTo @route="validators.email" class="item">Email</LinkTo>
      <LinkTo @route="validators.zipcode" class="item">ZIP Code</LinkTo>
      <LinkTo @route="validators.hexcolor" class="item">Hex Color</LinkTo>
      <LinkTo @route="validators.subdomain" class="item">Subdomain</LinkTo>
      <LinkTo @route="validators.url" class="item">URL</LinkTo>
      <LinkTo @route="validators.inclusion" class="item">Inclusion</LinkTo>
      <LinkTo @route="validators.exclusion" class="item">Exclusion</LinkTo>
      <LinkTo @route="validators.match" class="item">Match</LinkTo>
      <LinkTo @route="validators.date" class="item">Date</LinkTo>
      <LinkTo @route="validators.numericality" class="item">Numericality</LinkTo>
      <LinkTo @route="validators.custom" class="item">Custom</LinkTo>
      <LinkTo @route="validators.relations" class="item">Relations</LinkTo>
    </div>
  </div>

  <div class="article">
    {{outlet}}
  </div>
</div>