<div class="ui masthead minimum vertical segment">
  <div class="ui container">
    <div class="introduction">
      <h1 class="ui header">
        Internationalization (i18n)
      </h1>
    </div>
  </div>
</div>

<div class="ui main container">
  <h2 class="ui header">
    Support for multiple languages
  </h2>

  <div class="no example">
    <p>
      <strong>Ember-model-validator</strong> supports multiple languages for the default messages used when validating properties. Set <i>validatorDefaultLocale</i> in your config enviroment to the language you want to use.
    </p>

    <p>
      Currently the languages supported are: <code class="ui label">en</code>, <code class="ui label">fr</code>, <code class="ui label">es</code>, <code class="ui label">pt-br</code>.
    </p>
    {{! template-lint-disable block-indentation }}
    <CodeBlock @language="javascript">
//config/environment.js
...
  ENV:{
    ...
    APP:{
      validatorDefaultLocale: "pt-br"
    }
    ...
  }
...
    </CodeBlock>
    {{! template-lint-enable }}
  </div>
</div>
