<div class="ui masthead minimum vertical segment">
  <div class="ui container">
    <div class="introduction">
      <h1 class="ui header">
        Ember Model Validator
        <div class="sub header">
          This Ember addon was born out of the necessity of having a similar validation support like we have on Rails with Active Record Validations.
        </div>
      </h1>
    </div>
  </div>
</div>

<div class="ui main container">
  <div class="badges">
    <a href="https://travis-ci.org/esbanarango/ember-model-validator">
      <img src="https://travis-ci.org/esbanarango/ember-model-validator.svg?branch=master" alt="Build Status">
    </a>
    <a href="http://badge.fury.io/js/ember-model-validator">
      <img src="https://badge.fury.io/js/ember-model-validator.svg" alt="npm version">
    </a>
    <a href="http://emberobserver.com/addons/ember-model-validator">
      <img src="http://emberobserver.com/badges/ember-model-validator.svg" alt="Ember Observer Score">
    </a>
    <a href="https://david-dm.org/esbanarango/ember-model-validator">
      <img src="https://david-dm.org/esbanarango/ember-model-validator.svg" alt="Dependencies up to date">
    </a>
  </div>

  <h2 class="ui dividing header">
    Installation
  </h2>

  <div class="no example">
    <p>
      Install this add-on through Ember CLI.
    </p>

    <p>
      From the command line run:
    </p>

    {{#ui-annotation showing=true type="bash"}}
      ember install ember-model-validator
    {{/ui-annotation}}
  </div>

  <h2 class="ui dividing header">
    Next Step
  </h2>

  <div class="no example">
    <p>
      Please carefully read and understand the {{#link-to "usage" class="item"}}Usage{{/link-to}} section.
    </p>
  </div>
</div>
