<div class="ui masthead minimum vertical segment">
  <div class="ui container">
    <div class="introduction">

      <h1 class="ui header">
        Ember Model Validator
        <div class="sub header">
          This Ember cli addon is born from the necessity of having a similar validation support like we have on Rails with Active Record Validations.
        </div>
      </h1>

    </div>

  </div>
</div>

<div class="ui main container">

  <h2 class="ui dividing header">
    Installation
  </h2>

  <div class="no example">
    <p>
      Install this add-on through Ember CLI. We support Ember versions 1.13 latest - 2.X.
    </p>

    <p>
      From the command line run:
    </p>

    {{#ui-annotation showing=true type="bash"}}
      ember install ember-model-validator
    {{/ui-annotation}}

  </div>

  <h2 class="ui dividing header">
    Next Step
  </h2>

  <div class="no example">

    <p>
      Please carefully read and understand the {{#link-to 'usage' class='item'}}Usage{{/link-to}} section.
    </p>

  </div>

</div>