.inverted.sidebar.menu.left.overlay {
  margin-top: 10px !important;
}

.error {
  .help-block {
    display: block;
    margin-bottom: 0.5em;
    font-size: 0.9285em;
    color: #d95c5c;
    opacity: 0.6;
    padding-left: 5px;
  }
}

.hidden {
  display: none;
}

.mr-10 {
  margin-right: 10px !important;
}
